<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/style.css">

<head>
    <meta charset="UTF-8">
    <title>StudentsList</title>
</head>
<body>
<h3>Students</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Rating</th>
        <th>Open</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}">></td>
        <td th:text="${student.rating}"></td>
        <td><a th:href="@{student/{id}(id=${student.id})}">Open</a></td>
        <!--        <td><a th:href="@{updateStudent/{id}(id=${student.id})}">Edit</a></td>-->
        <!--        <td><a th:href="@{deleteStudent/{id}(id=${student.id})}">Delete</a></td>-->
        <!--        <td><a href="/updateStudent/${id}}">Edit</a></td>-->
        <!--        <td><a href="/delete/${student.id}">Delete</a></td>-->

        <td><a th:href="@{updateStudent/{id}(id=${student.id})}">Edit</a></td>
        <td><a th:href="@{delete/{id}(id=${student.id})}">Delete</a></td>
    </tr>
</table>
<h4><a href="/">Back</a></h4>
</body>
</html>