<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>
<body>
<form name="student" action="/update" method="post">
    <h3>ID</h3>
    <input title="ID" type="text" name="id" value="${student.id}">
    <h3>Name</h3>
    <input title="Name" type="text" name="name" value="${student.name}">
    <h3>Age</h3>
    <input title="Age" type="text" name="age" value="${student.age}">
    <h3>Rating</h3>
    <input title="Rating" type="text" name="rating" value="${student.rating}">
    <input type="submit" value="Create Student">
</form>
</body>
</html>